@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: green;
    position: relative;
}

main{
    background-color: aqua;
    margin: center;
    width: 400px;
    height: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
}